<form [formGroup]="reactiveForm">

    <div class="card-body">
        <h4 class="card-title">First Name Employee</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text"formControlName="firstName" class="form-control" name="firstName"  id="firstName">
            </div>
            <div class="alter alter-danger" id="updateField" *ngIf="firstName?.errors?.['required'] && firstName?.touched" > idDepart is required</div>

        </div >
    </div>
    <div class="card-body">
        <h4 class="card-title">Last Name Employee</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text"formControlName="lastName" class="form-control" name="lastName"  id="lastName">
            </div>
            <div class="alter alter-danger" id="updateField" *ngIf="lastName?.errors?.['required'] && lastName?.touched" > idDepart is required</div>

        </div >
    </div>
    <div class="card-body">
        <h4 class="card-title">Solde Employee</h4>
        <div class="mt-4">
            <div class="form-group">
                <input type="text"formControlName="solde" class="form-control" name="solde"  id="solde">
            </div>
            <div class="alter alter-danger" id="updateField" *ngIf="solde?.errors?.['required'] && solde?.touched" > idDepart is required</div>

        </div >
    </div>
    <button type="submit" class="btn btn-primary" (click)="update()">update </button>
    </form>
