<form  [formGroup]="reactiveForm" (ngSubmit)="addStudent()">
    <div>
        <h1>Add new student</h1>
    </div>
    <div class="form-group">
        <label for="fn">First Name</label>
        <input type="text" class="form-control" id="fn" formControlName="firstName">     
      </div>
    <div class="form-group">
        <label for="ln">last Name :</label>
        <input type="text" class="form-control" id="ln" formControlName="lastName">
    </div>
    <div class="form-group">
        <label for="opt">Option :</label>
        <input type="text" class="form-control" id="opt" formControlName="option">
    </div>
      
      <button type="submit" class="btn btn-primary">ADD</button>
</form>

